<html>
  <head>
    <meta charset="UTF-8">
    <title>Edit Landmark</title>
  </head>
  <body>
    <form action="/landmarks/<%= @landmark.id %>" method="post">
      <input type="hidden" name="_method" value="patch">

      <label>Landmark Name: </label>
      <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>">

      <label>Landmark Year Completed: </label>
      <input type="number" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">

      <input type="submit" value="Edit Landmark">
    </form>
  </body>
</html>
