<html>
  <head>
    <meta charset="UTF-8">
    <title>Landmarks Index</title>
  </head>
  <body>
    <% @landmarks.each do |landmark| %>
      <h4><%= landmark.name %> - <%= landmark.year_completed %></h4>
    <% end %>
  </body>
</html>
