<html>
  <head>
    <meta charset="UTF-8">
    <title>Show Figure</title>
  </head>
  <body>
    <h4>Figure Name: <%= @figure.name %></h4>

    <label><b>Titles</b></label>
      <% @figure.titles.each do |title| %>
        <li><%= title.name %></li>
      <% end %>

    <br />

    <label><b>Landmarks</b></label>
      <% @figure.landmarks.each do |landmark| %>
        <li><%= landmark.name %></li>
      <% end %>

    <br />

    <a href="/figures/<%= @figure.id %>/edit"><input type="button" value="Edit This Figure"></a>
  </body>
</html>
