<html>
  <head>
    <meta charset="UTF-8">
    <title>NYC Historical Figures & Landmarks</title>
  </head>
  <body>
    <h1>Welcome to NYC Landmarks & Historical Figures</h1>
    <h4><a href="/figures">See All Historical Figures</a></h4>
    <h4><a href="/landmarks">See All Landmarks</a></h4>
  </body>
</html>
